.comment-wrapper {
    .header-alignment{
        margin-left:200px;
        margin-bottom: 20px;
        position: relative;
    }
    .button-alignment{
        margin-top: 20px;
        margin-right: 200px;
    }
}