.comment-wrapper {
    .header-alignment{
        margin-left:510px;
        margin-bottom: 20px;
        position: relative;
    }
    .button-alignment{
        margin-top: 20px;
        margin-right: 500px;
    }
}